<div id="container">
  <div id="contact-list">
    <h2>My Contacts</h2>
      <ul>
        {{#each App.contactsController}}
          {{view App.ContactListItemView contentBinding="this"}}
        {{/each}}
      </ul>
    {{#button action="newContact"}}New Contact{{/button}}
  </div>

  <div id="detail">
    {{#if App.selectedContactController.content}}
      {{#view App.CardView}}
        <div class="name">
          {{editable "content.firstName"}} {{editable "content.lastName"}}
        </div>

        <table class="phone-numbers">
          {{#each content.phoneNumbers}}
            <tr>
              <td>{{editable number}}</td>
              <td>{{view App.DeleteNumberView contentBinding="this"}}</td>
            </tr>
          {{/each}}
        </table>
        {{#view Ember.Button target="contentView" action="addPhoneNumber"}}
          Add Phone Number
        {{/view}}
      {{/view}}
    {{else}}
      <div class="no-contact-selected">No contact selected.</div>
    {{/if}}
  </div>
</div>
